* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4f4fc;
  }
  
  header {
    width: 100%;
    height: 70px;
  }
  
  .logo {
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
  }
  
  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .contenedorcajatexto {
    position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
  }
  
  .cajatexto {
    width: calc(100% - 40px);
    height: calc(50% - 30px);
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0a3871;
    font-size: 32px;
    font-weight: 400;
    padding: 10px 20px;
  }
  
  .cajatexto::placeholder {
    color: #0a3871;
  }
  
  .alerta {
    position: absolute;
    top: 750px;
    left: 370px;
    display: flex;
    color: #495057;
  }
  
  .contenedor-botones {
    position: absolute;
    top: 800px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-encriptar,
  .btn-desencriptar {
    width: 150px;
    height: 50px;
    margin: 0 10px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
  }
  
  .btn-encriptar {
    background-color: #0a3871;
    color: white;
    border: none;
  }
  
  .btn-desencriptar {
    background-color: #d8dfe8;
    color: #0a3871;
    border: 1px solid #0a3871;
  }
  
  .seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 840px;
    right: 200px;
    padding: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
  }
  
  .contenedormunieco {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contenedor-parrafo {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contenedor-parrafo h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343a40;
  }
  
  .contenedor-parrafo p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
  }
  
  .contenedor-resultado {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contenedor-resultado p {
    color: #495057;
    font-size: 25px;
  }
  
  .contenedor-copiar {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn-copiar {
    width: 150px;
    height: 50px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0a3871;
    cursor: pointer;
  }
  
  .ocultar {
    display: none;
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .contenedorcajatexto {
      position: static;
      width: 90%;
      height: auto;
      margin-top: 50px;
      padding: 0;
    }
  
    .cajatexto {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
    }
  
    .alerta,
    .contenedor-botones {
      position: static;
      margin-top: 20px;
    }
  
    .btn-encriptar,
    .btn-desencriptar {
      width: 100%;
      margin: 10px 0;
    }
  
    .seccion2 {
      position: static;
      width: 90%;
      max-width: 400px;
      margin-top: 50px;
      padding: 30px;
    }
  
    .contenedor-resultado,
    .contenedor-copiar {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 768px) {
    .contenedorcajatexto {
      position: static;
      width: 90%;
      height: auto;
      margin-top: 50px;
      padding: 0;
    }
  
    .cajatexto {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      z-index: 1;
    }
  
    .alerta,
    .contenedor-botones {
      position: static;
      margin-top: 20px;
    }
  
    .btn-encriptar,
    .btn-desencriptar {
      width: 100%;
      margin: 10px 0;
    }
  
    .seccion2 {
      position: static;
      width: 90%;
      max-width: 400px;
      margin-top: 50px;
      padding: 30px;
    }
  
    .contenedormunieco {
      position: relative;
      z-index: 2;
    }
  
    .contenedor-resultado,
    .contenedor-copiar {
      margin-bottom: 20px;
    }
  }
  .contenedorcajatexto {
    position: absolute;
    left: 100px; /* Ajusta el valor según tu preferencia */
    top: 100px;
    padding-left: 20px; /* Ajusta el valor según tu preferencia */
    width: 600px; /* Ajusta el valor según tu preferencia */
    height: 500px;
  }
  
  .cajatexto {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0a3871;
    font-size: 25px; /* Ajusta el valor según tu preferencia */
    font-weight: 400;
    padding: 10px;
  }
  